# Exercise 1

## Class Initialization

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.prev = None

In [ ]:
class LinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

In [ ]:
class DoublyLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

In [ ]:
class CircularLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):

        head = node

        while node:
            print(node.data, end=" -> ")
            node = node.next

            # Break to prevent infinite loop
            if node == head:
                break

#### 1. Create a Singly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

In [ ]:
class LinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

In [ ]:
linkedlist = LinkedList()

linkedlist.head = Node("Allana")
node_b = Node("Margarete")
node_c = Node("Chleo")
node_d = Node("James Cedrick")
node_e = Node("Ruth")

In [ ]:
linkedlist.head.next = node_b
node_b.next = node_c
node_c.next = node_d
node_d.next = node_e

In [ ]:
linkedlist.traverse(linkedlist.head)

Allana -> Margarete -> Chleo -> James Cedrick -> Ruth ->

#### 2. Create a Doubly Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
# put your code here
class DoublyLinkedList:

    def __init__(self):
        self.head = None

    def traversenext(self, node):
        while node:
            print(node.data, end=" -> ")
            node = node.next

    def printprevious(self, node):
        while node:
            print(node.data, end=" <- ")
            node = node.prev

In [ ]:
doublylinkedlist = DoublyLinkedList()

doublylinkedlist.head = Node("Allana")
node_b = Node("Margarete")
node_c = Node("Chleo")
node_d = Node("James Cedrick")
node_e = Node("Mary Louise")

In [ ]:
doublylinkedlist.head.prev = None
doublylinkedlist.head.next = node_b

node_b.prev = doublylinkedlist.head
node_b.next = node_c

node_c.prev = node_b
node_c.next = node_d

node_d.prev = node_c
node_d.next = node_e

node_e.prev = node_d
node_e.next = None

In [ ]:
doublylinkedlist.printprevious(node_e)

Mary Louise <- James Cedrick <- Chleo <- Margarete <- Allana <-

In [ ]:
doublylinkedlist.traversenext(doublylinkedlist.head)

Allana -> Margarete -> Chleo -> James Cedrick -> Mary Louise ->

#### 3. Create a Circular Linked list

- Each node should contain your name and your seatmates in your row
- Create at least 5 nodes
- Traverse all nodes

In [ ]:
# put your code here
class CircularLinkedList:

    def __init__(self):
        self.head = None

    def traverse(self, node):

        head = node

        while node:
            print(node.data, end=" -> ")
            node = node.next

            # Break to prevent infinite loop
            if node == head:
                break

In [ ]:
circularlinkedlist = CircularLinkedList()

circularlinkedlist.head = Node("Allana")
node_b = Node("Margarete")
node_c = Node("Chleo")
node_d = Node("James Cedrick")
node_e = Node("Mary Louise")

In [ ]:
circularlinkedlist.head.next = node_b
node_b.next = node_c
node_c.next = node_d
node_d.next = node_e
node_e.next = circularlinkedlist.head

In [ ]:
circularlinkedlist.traverse(circularlinkedlist.head)

Allana -> Margarete -> Chleo -> James Cedrick -> Mary Louise ->